.menu {
  --menu-height: 14ch;
  background-color: var(--color-bg-light);
  box-shadow: 0 2px 0 var(--color-accent-dark);
  position: absolute;
  z-index: 1;
  height: 0;
  width: 15ch;
  top: var(--size-xxlarge);
  left: auto;
  right: 1ch;
  overflow: hidden;
  text-align: center;
  font-size: var(--size-medlarge);
  font-family: var(--font-header);
  line-height: var(--size-xlarge);
  transition: height 300ms ease-out;
}

.menu a:first-child {
  margin-top: 3px;
}

.menuIcon {
  font-size: var(--size-xlarge);
}

.menuLink {
  display: block;
  color: var(--color-secondary) !important;
  text-decoration: none;
  text-transform: uppercase;
  transition: color 0s ease-in;
}

.menuLink.active {
  color: var(--color-primary) !important;
}

@media only screen and (hover: hover) and (pointer: fine) {
  .menuIcon:hover,
  .menuIcon:active {
    color: var(--color-accent-dark);
  }

  .menuLink:hover,
  .menuLink:active {
    color: var(--color-accent-dark) !important;
  }
}

@media only screen and (pointer: coarse) {
  .menu {
    --menu-height: 17ch;
    font-size: var(--size-large);
    line-height: var(--size-xxxlarge);
    width: 100%;
    left: 0;
    right: 0;
  }
}
