@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@layer base {
  a:not(#logo),
  .icon-link {
    cursor: pointer;
    background-image: linear-gradient(
      45deg,
      theme("colors.yellow.500"),
      theme("colors.red.400")
    );
    background-size: 100%;
    background-repeat: repeat;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
  }

  a:hover:not(#logo),
  .icon-link:hover {
    color: theme("colors.red.400");
    text-decoration: underline;
    background-image: none;
    -webkit-text-fill-color: inherit;
    -moz-text-fill-color: inherit;
  }

  .icon-link:hover {
    text-decoration: none !important;
  }
}
