@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

/* `@theme inline` is required to reference other css variables */
@theme {
  --color-primary: oklch(0.15 0.02 220);
  --color-primary-dark: oklch(0.1 0.02 220);
  --color-primary-light: oklch(0.2 0.02 220);
  --color-secondary: oklch(0.96 0.04 220);
  --color-secondary-muted: oklch(0.76 0.04 220);
  --color-highlight: oklch(0.5 0.04 220);
  --color-border: oklch(0.4 0.04 220);
  --color-border-muted: oklch(0.3 0.04 220);
  --color-action-1: oklch(0.76 0.1 220);
  --color-action-2: oklch(0.76 0.1 40);
  --color-danger: oklch(0.7 0.05 30);
  --color-warning: oklch(0.7 0.05 100);
  --color-success: oklch(0.7 0.05 160);
  --color-info: oklch(0.7 0.05 260);
}

@layer base {
  /* @font-face { */
  /*   font-family: "DejaVuSansM Nerd Font Mono"; */
  /*   src: */
  /*     local("DejaVuSansM Nerd Font Mono"), */
  /*     url("/DejaVuSansMNerdFontMono-Regular.ttf") format("truetype"); */
  /*   font-display: swap; */
  /* } */

  a {
    @apply text-action-1;
  }

  a:hover {
    @apply text-action-2 underline;
  }

  a:focus-visible {
    @apply underline decoration-double decoration-primary outline-none;
  }
}
