@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  a {
    background-image: linear-gradient(
      45deg,
      theme("colors.red.400"),
      theme("colors.beige.500")
    );
    background-size: 100%;
    background-repeat: repeat;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
  }

  a:hover {
    color: theme("colors.red.400");
    text-decoration: underline;
    background-image: linear-gradient(
      45deg,
      theme("colors.beige.500"),
      theme("colors.green.400")
    );
  }
}
