:root {
  --color-accent-dark: #DF740C;
  --color-accent-light: #FFE64D;
  --color-bg-dark: #0C141F;
  --color-bg-light: #121924;
  --color-primary: #6FC3DF;
  --color-secondary: #D5EEEE;
  --font-header: "Yatra One", cursive;
  --font-body: "Rubik", sans-serif;
  --size-xsmall: 0.25rem;
  --size-small: 0.5rem;
  --size-medsmall: 0.75rem;
  --size-med: 1rem;
  --size-medlarge: 1.25rem;
  --size-large: 1.5rem;
  --size-xlarge: 2rem;
  --size-xxlarge: 2.5rem;
  --size-xxxlarge: 3.0rem;
  --header-height: calc(2.0em + 10px);
  --footer-height: 9em;
  --page-padding: 20px;
  --bp-desktop-large: 1440px;
  --bp-desktop-small: 1024px;
  --bp-tablet: 768px;
  --bp-mobile: 360px;
}

*:focus-visible {
  outline: 1px dotted var(--color-accent-dark);
}

body {
  background-color: var(--color-bg-dark);
  -webkit-font-smoothing: antialiased;
  color: var(--color-secondary);
  font-family: var(--font-body);
  font-size: 1.1em;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--color-primary);
  font-family: var(--font-header);
  font-weight: normal;
  text-align: center;
}

h1 {
  font-size: var(--size-large);
}

h2 {
  font-size: var(--size-large);
  margin: 1rem;
}

h3 {
  font-size: var(--size-large);
}

a {
  color: var(--color-accent-light);
  text-decoration: none;
  transition: color 500ms ease;
}

hr {
  border: 1px solid var(--color-accent-dark);
  margin: 40px 0 10px 0;
}

.link-icon {
  color: var(--color-accent-light);
  cursor: pointer;
  font-size: var(--size-xlarge);
  transition: color 500ms ease;
}
.disabled-icon {
  font-size: var(--size-xlarge);
  color: #999;
}

span.anchor {
  top: calc(-1 * var(--header-height));
  position: relative;
  display: block;
  visibility: hidden;
}

.body-content {
  min-height: calc(100vh - var(--footer-height));
}

.page-section {
  min-height: 50vh;
  padding: var(--header-height) var(--page-padding);
}

.page-actions {
  display: flex;
  justify-content: center;
  margin-top: -25px;
}

.lazy {
  min-height: 10px;
}

.post-enter {
  opacity: 0;
}

.post-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.post-exit {
  opacity: 1;
}

.post-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-in;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-content: center;
  margin: 50px 50px;
}

.card-grid a {
  color: var(--color-accent-dark);
}

.card {
  position: relative;
  overflow: hidden;
}

.card img {
  display: block;
  width: 100%;
  aspect-ratio: 5/3;
  object-fit: cover;
  object-position: center;
}

.card .title {
  position: absolute;
  inset: 0;
  font-size: var(--size-medlarge);
  padding: 1rem;
  background: rgba(12, 20, 31, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 2px 0 2px black;
  text-align: center;
}

.card img, .card .title {
  transition: 200ms ease-in-out;
}

.card .title.slide-up {
  transform: translateY(100%);
}

.card-placeholder {
  display: block;
  background-image: url(assets/code-bg.webp);
  border: 20px solid var(--color-bg-dark);
  filter: blur(1px) sepia(1);
  width: 100%;
  aspect-ratio: 5/3;
}

.button {
  border: 0;
  display: flex;
  width: 100px;
  height: var(--size-xlarge);
  background-color: var(--color-accent-light);
  color: var(--color-bg-dark) !important;
  font-weight: bold;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 768px) {
  h1 {
    font-size: var(--size-xxlarge);
  }

  h2 {
    font-size: var(--size-xxlarge);
  }
}

@media only screen and (min-width: 1024px) {
  body {
    scrollbar-width: thin;
    scrollbar-color: #DF740C #FFE64D;
    scroll-behavior: smooth;
    overflow: hidden auto;
  }
  body::-webkit-scrollbar {
    width: 0.75rem;
  }
  body::-webkit-scrollbar-thumb {
    background: #DF740C;
    border-radius: 6px;
    border: 3px solid #121924;
    -webkit-border-radius: 10px;
  }
  body::-webkit-scrollbar-track {
    background: #121924;
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  }
}

@media only screen and (min-width: 1440px) {
  .card-grid {
    margin: 50px 200px;
  }
}

@media only screen and (hover: hover) and (pointer: fine) {
  a:hover, a:focus-visible, .link-icon:hover {
    color: var(--color-accent-dark);
  }
  .button:hover {
    background-color:  var(--color-accent-dark);
  }
  a:hover .card img.blur, a:focus-visible .card img.blur {
    filter: blur(3px) sepia(1);
  }
  a:hover .card .title.slide-up, a:focus-visible .card .title.slide-up {
    transform: translateY(0);
  }
}

@media only screen and (pointer: coarse) {
  .card img.blur {
    filter: blur(3px);
  }
  .card .title.slide-up {
    transform: translateY(0);
  }

  a:active {
    color: var(--color-accent-dark);
  }

  .link-icon {
    transition: color 500ms, transform 500ms !important;
  }
  .link-icon:hover {
    color: var(--color-accent-light);
    transform: scale(1);
  }
  .link-icon:active {
    color: var(--color-accent-dark);
    transform: scale(1.2);
    transition: color 0, transform 0 !important;
  }
}
