.postEnter {
  opacity: 0;
}

.postEnterActive {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.postExit {
  opacity: 1;
}

.postExitActive {
  opacity: 0;
  transition: opacity 500ms ease-in;
}

.cardGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 20%));
  justify-content: center;
  margin: 50px 50px;
}

.cardGrid a {
  color: var(--color-accent-dark);
}

.card {
  position: relative;
  overflow: hidden;
}

.card img {
  display: block;
  width: 100%;
  aspect-ratio: 5/3;
  object-fit: cover;
  object-position: center;
}

.card .title {
  position: absolute;
  inset: 0;
  font-size: var(--size-medlarge);
  padding: 1rem;
  background: rgba(12, 20, 31, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 2px 0 2px black;
  text-align: center;
}

.card img,
.card .title {
  transition: 200ms ease-in-out;
}

.card .title.slideUp {
  transform: translateY(100%);
}

.cardPlaceholder {
  display: block;
  background-image: url(/images/code-bg.webp);
  border: 20px solid var(--color-bg-dark);
  filter: blur(1px) sepia(1);
  width: 100%;
  aspect-ratio: 5/3;
}

@media only screen and (min-width: 1440px) {
  .cardGrid {
    margin: 50px 200px;
  }
}

@media only screen and (hover: hover) and (pointer: fine) {
  a:hover .card img.blur,
  a:focus-visible .card img.blur {
    filter: blur(3px) sepia(1);
  }
  a:hover .card .title.slideUp,
  a:focus-visible .card .title.slideUp {
    transform: translateY(0);
  }
}

@media only screen and (pointer: coarse) {
  .card img.blur {
    filter: none;
  }
  .card .title.slideUp {
    position: relative;
    transform: none;
  }
}
