footer {
  position: relative;
  background: var(--color-bg-light);
}

.footer-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.copyright {
  font-size: var(--size-med);
  color: var(--color-secondary);
}

.bold {
  font-weight: bold;
}

.to-top-link {
  position: absolute;
  top: -36px;
}

.to-top-icon {
  color: var(--color-accent-light);
  font-size: var(--size-xlarge);
  padding: 15px;
  text-decoration: none;
  transition: color 0.5s;
}

.social-icons {
  display: flex;
  justify-content: space-between;
}

.social-icon {
  color: var(--color-accent-light);
  font-size: var(--size-xlarge);
  padding: 15px;
  text-decoration: none;
  transition: color 0.5s;
}

.to-top-icon:hover, .social-icon:hover {
  color: var(--color-accent-dark);
}

