footer {
  position: relative;
  background: var(--color-bg-light);
  height: var(--footer-height);
}

.footer-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
}

.copyright {
  font-size: var(--size-med);
  color: var(--color-secondary);
}

.bold {
  font-weight: bold;
}

.to-top-link {
  position: absolute;
  top: -20px;
}

.social-icons {
  display: flex;
  justify-content: space-between;
}

.social-icons .link-icon {
  margin: 10px;
}
