.header {
  display: flex;
  flex-direction: row;
}

.title {
  white-space: nowrap;
}

.name {
  margin-bottom: 10px;
  margin-right: 1.5em;
}

.position {
  font-size: 1.6em;
  font-style: italic;
  margin-top: 0;
}
