.splash {
  min-height: calc(100vh - var(--header-height));
  display: flex;
  flex-direction: column;
  flex: 1;
  align-content: center;
  justify-content: space-between;
}

.splash canvas {
  position: absolute;
  z-index: -1000;
}

.header {
  flex: 1;
  padding: 50px 0 0 0;
}

.header::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%);
  z-index: -2;
  background-size: 100% 3px, 4px 100%;
  pointer-events: none;
}

.header h1 {
  font-size: var(--size-xxlarge);
}

.subtitle {
  font-family: var(--font-body);
  font-size: var(--size-large);
  font-weight: normal;
  line-height: 1.6em;
  text-align: center;
}

.name {
  color: var(--color-accent-dark);
}

.explore {
  text-align: center;
  position: sticky;
  bottom: 30px;
  margin-bottom: 30px;
}

.explore p {
  font-size: var(--size-med);
}

@media only screen and (min-width: 768px) {
  .header {
    padding: 100px 0 0 0;
  }

  .header h1 {
    font-size: var(--size-xxxlarge);
  }

  .subtitle {
    font-size: var(--size-xlarge);
  }

  .explore p {
    font-size: var(--size-medlarge);
  }
}

@media only screen and (hover: hover) and (pointer: fine) {
  a:hover > .explore-icon,
  a:active > .explore-icon {
    color: var(--color-accent-dark);
  }
}
