.heading {
  background: var(--color-bg-light);
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 10;
  height: var(--header-height);
  padding: 0 20px;
}

.header-bar {
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex: 1;
  align-items: center;
}

.header-icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header-icons div {
  margin: auto 0;
}
