.heading {
  background: var(--color-bg-light);
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 10;
  height: var(--size-xxlarge);
  padding: 0 10px;
}

.header-bar {
  display: flex;
  justify-content: space-between;
  flex: 1;
  padding: var(--size-small);
}

.header-icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header-icons div {
  margin: auto 0;
}
