.logo {
  color: var(--color-primary);
  font-family: var(--font-header);
  font-size: var(--size-xlarge);
  text-decoration: none;
  transition: color 500ms ease;
  transform: translateY(-0.1em);
}

@media only screen and (hover: hover) and (pointer: fine) {
  .logo:hover, .logo:active {
    color: var(--color-accent-dark);
  }
}
