.logo {
  color: var(--color-primary);
  font-family: var(--font-header);
  font-size: var(--size-large);
  text-decoration: none;
  transition: color 0.5s ease;
}

@media only screen and (min-width: 768px) {
  .logo {
    font-size: 2rem;
  }
}

@media only screen and (hover: hover) and (pointer: fine) {
  .logo:hover, .logo:active {
    color: var(--color-accent-dark);
  }
}
