.logo {
  color: var(--color-primary);
  font-family: var(--font-header);
  font-size: var(--size-large);
  text-decoration: none;
  transition: color 0.5s ease;
}

.logo:hover {
  color: var(--color-accent-dark);
}

@media only screen and (min-width: var(--bp-tablet)) {
  .logo-link {
    font-size: var(--size-xlarge);
  }
}
