.menu {
  --height: 0;
  background-color: var(--color-bg-light);
  box-shadow: 0 2px 0 var(--color-accent-dark);
  position: absolute;
  z-index: 1;
  height: var(--height);
  width: 15ch;
  top: var(--size-xxlarge);
  left: auto;
  right: 1ch;
  overflow: hidden;
  text-align: center;
  font-family: var(--font-header);
  line-height: var(--size-xlarge);
  transition: height 0.3s ease-out;
}

.menu a:first-child {
  margin-top: 3px;
}

.menu-link {
  display: block;
  color: var(--color-secondary) !important;
  text-decoration: none;
  text-transform: uppercase;
  transition: color 0s ease-in;
}

.menu-link.active {
  color: var(--color-primary) !important;
}

@media only screen and (hover: hover) and (pointer: fine) {
  .menu-icon:hover, .menu-icon:active {
    color: var(--color-accent-dark);
  }
  .menu-link:hover, .menu-link:active {
    color: var(--color-accent-dark) !important;
  }
}
