.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.backButton {
  border: 0;
  display: flex;
  width: 100px;
  height: var(--size-xlarge);
  background-color: var(--color-accent-light);
  color: var(--color-bg-dark) !important;
  font-weight: bold;
  justify-content: center;
  align-items: center;
}
