*:not(svg) {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  background: #000;
  color: #fff;
}

p {
  white-space: pre-line;
  line-height: 1.4em;
  max-width: 70ch;
  margin: 25px auto;
}

ol li, ul li {
  padding: 0.4em 0;
}

.fade-enter {
  opacity: 0;
  transition: opacity 1s ease-in 0.1s;
}
.fade-enter-active {
  opacity: 1;
}
