.blog {
  --thumb-width: 300px;
  --thumb-height: 200px;
  min-height: 50vh;
  margin: 0 50px 100px 50px;
}

.blog-posts {
  margin: var(--size-med-small);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.blog-posts article {
  width: var(--thumb-width);
  display: flex;
  flex-direction: column;
  flex: 0 0 33%;
  background: var(--color-bg-dark);
  border: 1px solid var(--color-bg-light);
}

.blog-posts p {
  text-align: center;
  vertical-align: middle;
  width: var(--thumb-width);
  height: var(--thumb-height);
}

.blog-posts a {
  transition: border 0.5s ease;
  border: 2px solid transparent;
  overflow: hidden;
}

.blog-posts a:hover {
  border: 2px solid var(--color-accent-dark) !important;
}

.blog-thumb {
  width: 100%;
  background: var(--color-bg-light);
  overflow: hidden;
  aspect-ratio: 5/3;
  object-fit: cover;
  object-position: top left;
}
