body {
  background: #FFF;
  color: #444;
  font-size: 0.9em;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  margin: 0;
  padding: 10px 20px;
  position: relative;
  width: 8.5in;
}

h1, h2, h3, h4, h5, h6 {
  color: #003D73;
  font-family: "Georgia, Palatino, serif";
}

h1 {
  font-size: 2.6em;
}

h3 {
  border-bottom: 2px solid #CCC;
  font-size: 1.8em;
  margin: 10px 0;
  padding-bottom: 5px;
}

h4 {
  color: #333;
  font-size: 1.3em;
  font-weight: bold;
  margin: 15px 0 5px 0;
  padding: 0;
}

h5 {
  color: #333;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 1.0em;
  font-weight: bold;
  margin: 1em 0 .4em 0;
  padding: 0;
}

a, a:visited {
  color: #05C;
  text-decoration: none;
}

a:hover {
  color: #08F;
  text-decoration: underline;
}

li {
  padding-top: .5em;
  padding-left: .5em;
}

aside {
  max-width: 30%;
  margin-right: 2.0em;
}

.technology {
  padding: 0;
  margin-left: 20px;
}

.content {
  display: flex;
  flex-direction: row;
}

.main-content {
  flex: 1;
}

.ribbon {
  width: 35px;
  height: 35px;
  float: left;
  margin: 0.4em 0 0 -40px;
  padding: 0;
}

.main-content {
  margin-left: 40px;
}

.employment-list {
  display: flex;
  flex-direction: column;
}

.positions {
  margin-top: 0;
  margin-left: 20px;
}

.positions > li {
  list-style-type: disclosure-closed;
}

em {
  color: #777;
  font-size: .95em;
  font-style: normal;
}

.experience img {
  width: 35px;
  height: 35px;
  margin: 15px 10px 5px 0;
}

.experience {
  display: flex;
  align-items: flex-start;
}

.experience-description {
  margin: 10px 0;
}

.education-title {
  display: inline-block;
  padding-bottom: 5px;
}

.bullets {
  margin-left: 20px;
}
