.footer {
  flex-shrink: 0;
  position: relative;
  background: var(--color-bg-light);
  height: var(--footer-height);
}

.footerContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.backToTop {
  transform: translateY(-20px);
}

.socialIcons {
  display: flex;
  justify-content: space-between;
}

.socialIcons svg {
  margin: 10px;
}

.copyright {
  font-size: var(--size-med);
  color: var(--color-secondary);
  margin: 0;
  padding-top: var(--size-small);
}

.name {
  font-weight: bold;
}
