.wrapper {
  display: flex;
  align-items: center;
  height: 100%;
}

.searchBox {
  display: flex;
  align-items: center;
  height: var(--size-xlarge);
}

.searchBox input {
  height: var(--size-large);
  width: 0;
  padding: 0;
  border: none;
  color: var(--color-primary);
  caret-color: var(--color-primary);
  background: var(--color-bg-light);
  outline: none;
  transition: width 500ms ease-out;
}

.expanded {
  margin: 0 15px;
  border-radius: var(--size-large);
  border: 1px solid var(--color-accent-dark);
  background: var(--color-bg-light);
  padding-right: 10px;
}

.expanded input {
  width: 200px;
}

.expanded .searchIcon {
  font-size: var(--size-medlarge);
  margin: 0 10px;
}

.searchBox input:-webkit-autofill {
  -webkit-text-fill-color: var(--color-primary);
  box-shadow: 0 0 0px 1000px var(--color-bg-light) inset;
  -webkit-box-shadow: 0 0 0px 1000px var(--color-bg-light) inset;
}

.searchBox input::placeholder {
  color: var(--color-accent-dark);
  opacity: 1;
}

.searchIcon {
  position: relative;
  font-size: var(--size-large);
  z-index: 1;
  cursor: pointer;
  transition: font-size 300ms ease-out;
}

.clearIcon {
  visibility: hidden;
  color: var(--color-secondary);
  font-size: var(--size-medlarge);
}
.visible {
  visibility: visible;
}
