.wrapper {
  width: 100%;
  background: #fff;
}
.resume {
  background: #fff;
  color: #444;
  font-size: 1rem;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  margin-inline: auto;
  padding: 10px 20px;
  position: relative;
  width: 8.5in;
}

.resume h1,
.resume h2,
.resume h3,
.resume h4,
.resume h5,
.resume h6 {
  color: #003d73;
  font-family: "Georgia, Palatino, serif";
}

.resume h1 {
  margin-top: 10px;
  font-size: 2.4em;
}

.resume h2 {
  font-size: 1.6em;
}

.resume h3 {
  font-size: 1.8em;
  margin-top: 0;
  margin-bottom: 5px;
}

.resume h4 {
  color: #333;
  font-size: 1.3em;
  font-weight: bold;
  margin: 0;
  padding-right: 10px;
}

.resume h5 {
  color: #333;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 1em;
  font-weight: bold;
  margin: 0;
  padding-right: 10px;
}

.resume p {
  margin-left: 0;
  margin-right: 0;
}

.resume a,
.resume a:visited {
  color: #05c;
  text-decoration: none;
}

.resume a:hover,
.resume a:active {
  color: #08f;
  text-decoration: underline;
}

.resume li {
  padding: 0.3em;
}

.resume aside {
  max-width: 30%;
  margin-right: 25px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}

.title {
  white-space: nowrap;
}

.name {
  margin-bottom: 10px;
}

.contact,
.technologies,
.education {
  text-align: right;
  margin-bottom: 20px;
}

.contactRow {
  display: flex;
  justify-content: right;
  align-items: center;
}

.contactRow svg {
  padding-left: 10px;
}

.position {
  font-style: italic;
  margin-top: 0;
}

.technology {
  padding: 0;
  margin-left: 20px;
}

.main {
  display: flex;
  flex-direction: row;
}

.content {
  flex: 1;
  padding-left: 25px;
  border-left: 2px solid #003d73;
}

.ribbon {
  float: left;
  margin: 0.4em 0 0 -40px;
  padding: 0;
}

.employmentList {
  display: flex;
  flex-direction: column;
}

.positions {
  margin-top: 0;
  margin-left: 0;
  padding-left: 0;
}

.positions > li {
  list-style-type: none;
}

.resume em {
  color: #777;
  font-size: 0.95em;
  font-style: normal;
}

.experienceImg {
  margin-right: 10px;
}
.experienceEntity {
  display: flex;
  align-items: baseline;
  width: 100%;
}
.experienceEntity em {
  font-size: 0.8em;
}

.experience {
  display: flex;
  align-items: center;
}

.experienceDescription {
  margin: 10px 0;
}

.educationTitle {
  display: inline-block;
  padding-bottom: 5px;
}

.bullets {
  margin-left: 20px;
  list-style-type: circle;
}
